@import '../../app.scss';

.perfil{
    width: 100%;
    display: flex;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   
    box-sizing: border-box;
    background-color: $Gray-1;
    img{
        width: 250px;
        height: 250px;
        border-radius: 12px;
        object-fit: cover;
        object-position: top;
        margin: 20px;
    }

}


//distribución del contenido info personal y contacto

.contenido-personal{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
    width: 80%;

    p{
        color: $Gray-3;
        font-family: montserrat;
        font-size: 18px;
        font-weight: 500;
        padding-right: 100px;
    }
    .contenedor{
        display: flex;
         justify-content: space-between;
        
        h2{
            color: $Gray-2;
            font-family: montserrat;
            font-size: 24px;
            font-weight: 600;
            margin-top: 0;
        }

        h3{
            color: $Gray-3;
            font-family: montserrat;
            font-size: 18px;
            font-weight: 500;
            
        }
    }
}


// CORREO Y TELEFONO
.contacto-personal{
    margin: 20px;
    div{
        height: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            font-size: 18px;
            color:$Gray-2;
            font-family: lato;
            font-weight: 500;

        }
        .icons{
        width: 22px;
        height: 22px;
        margin: 5px;
        padding: 8px;
        padding-right: 10px;
       
    }
    }

    
}

@media (max-width:1000px) {

    .perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 250px;
            height: 250px;

        }
    }

    //distribución del contenido info personal y contacto

.contenido-personal{
    p{
        font-size: 16px;
        padding: 10px;
        text-align: left;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            font-size: 18px;
        }
        h3{
            font-size: 16px;
        }
    }
}
    
}